.THIS .container {
    background-image: url("https://sindhumadhuri-dev-ed--c.na33.visual.force.com/resource/1497652889000/background?isdtp=p1");
    width: 100%;
    height: auto;
    opacity: 0.3;
    position: absolute;
}

.THIS .img { 
    
}