.THIS .editButton{
    float:right;
    
}
.THIS .createButton{
    float:right;
    margin-right: 20px;
}
.THIS thead{
    background-color: #c4d5ef;
}
.THIS .pagination{
    padding-top:5px;
}

.THIS .leftbordersolid{
    	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid cornflowerblue;
    border-top: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
	border-left:10px solid;
}