.THIS .stylish{
   width:100px;
    background-color:red;
}

.THIS .stylish:hover{
    border:4px double #bbb;
    color:#aaa;
    text-decoration:none;
    background:#e6e6e6
}
.THIS .heading{
    padding-left:3.5rem;
    padding-top:2rem;
    padding-right:3.5rem;
    padding-bottom:8rem;
}
.THIS input{
    border-right:0;
     border-left:0;
     border-top:0;
    
}
.THIS .circle_style{
  margin: auto;
  border: 3px solid green;
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}